# Help files
HELP.md

# Maven target directory
/target/
!**/src/main/**/target/
!**/src/test/**/target/

.env
./log/*
log

*.zip
# Maven Wrapper files
.mvn/wrapper/maven-wrapper.jar

# Ignore sensitive application.properties (optional, if it contains sensitive info)
application.properties

# Maven specific files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Eclipse, IntelliJ, NetBeans and other IDE-specific files
### Eclipse/STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

*.jar
*.war
*.log
*.tmp