[Unit]
Description=Spring Boot Web Application
Documentation=https://github.com/dongyul1u/webapp
After=network.target

[Service]
#EnvironmentFile=/home/ubuntu/webapp/.env
#WorkingDirectory=/home/ubuntu/webapp/
User=ubuntu
Type=simple
ExecStart=/usr/bin/java -jar /home/ubuntu/webapp/your-springboot-app.jar
SuccessExitStatus=143
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
